chest_xray
test
.idea
Pneumonia
venv
resnet101.pth
chest_xray.rar
pneumonia_detection.py
152.py
test.py
CNN.py
stqa.py
model2.py
model.py
pneumonia_model.pth
Synopsis.docx
picture.py
eval.py
Black_book.docx
Black_book_main_content.docx
